@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);
body {
  background: #7BAFD4 url(../images/bg.png) repeat;
  color: #000305;
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
               'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  text-align: left;
  padding-top: 1em;
  text-size-adjust: none;
}
body.blur {
  background-color: #f00;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.571em;
}
h3 {
  font-size: 1.429em;
}
h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em;
  font-family: 'Yanone Kaffeesatz', arial, serif;
  margin-top: .8em;
}
.thinh4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
strong {
  font-weight: bold;
}
ul {
  list-style: outside disc;
  margin: 0em 0 0 1.5em;
}
ol.alpha {
  list-style-type: lower-alpha;
}
ol.polllist li {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
aside {
  font-size: 0.8em;
  color: #444;
}
pre {
  background-color: rgb(238, 238, 238);
  padding: 10px;
  margin: 10px;
  overflow: auto;
  text-align: left;
}
pre.context {
  padding: 2px;
  margin: 0px;
  border: 1px solid rgb(169, 169, 169);
  line-height: 1.1em;
}
table {
  margin: .5em auto 1.5em auto;
  width: 98%;
}
input:invalid {
  color: red;
}
input.evaluate {
  width: 80%;
}
input.correct {
  background: #d0ffd0;
}
table.correct input {
  background: #d0ffd0;
}
table.correct select {
  background: #d0ffd0;
}
table.truthtable input {
  width: 3em;
  text-align: center;
}
table.truthtable {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}
.truthtable th,
.truthtable td {
  border: 1px solid black;
  text-align: center;
  padding: 0.2em;
}
section {
  display: block;
}
.body {
  clear: both;
  margin: 0 auto;
  width: 75%;
}
#content {
  background: #fff;
  margin-bottom: 2em;
  padding: 20px 20px;
  width: 75%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.blur #content {
  background-color: #fdd;
}
#blur {
  display: none;
}
.blur #blur {
  display: block;
  position: fixed;
  top: 50vh;
  color: white;
  font-size: 2em;
  background-color: red;
  padding: 0.5em;
}
.evalmessage {
  color: #800;
  background-color: #FDD;
  font-size: 0.8em;
  padding: 0.3em;
  white-space: nowrap;
  border: 1px solid red;
  margin-left: 5px;
}
.evalmessage:empty {
    display: none;
}
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: vertical;
  tab-size: 8;
  font-size: 1em;
}
fieldset {
  min-width: 0;
  overflow: auto;
}

.exampletable {
  font-size: 10px;
  max-width: 80%;
}

.datatable {
  border: solid 1px grey;
  border-collapse: collapse;
  font-size: 12px;
}
.datatable thead,
td {
  padding: 5px;
  border: solid 1px grey;
}
.datatable thead {
  background: lightgrey;
}
.sqlerror {
  margin-left: 1em;
  color: red;
}
span.points {
  font-size: 0.8em;
  background-color: lightgrey;
}
#user {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #99BADD;
  border-style: groove;
}
div.menu {
  margin-left: 1em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
  float: left;
  width: 50%;
}
.sixcolumns {
  float: left;
  width: 15%;
}
.fivecolumns {
  float: left;
  width: 20%;
}
.fourcolumns {
  float: left;
  width: 25%;
}
.threecolumns {
  float: left;
  width: 33%;
}
.threefourthcolumns {
  float: left;
  width: 75%;
}
.twocolumns {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.menu button {
  width: 10em;
  text-align: left;
  margin-bottom: 1em;
  background-color: #99BADD;
}
button.admin {
  width: 10em;
  text-align: left;
  margin-bottom: 1em;
  background-color: #13294B;
  color: white;
}
details {
  margin-left: 1em;
  border: 1px solid lightgrey;
  padding-left: 1em;
}
input[data-correct='1'] {
  background-color: #d0ffd0;
}
table[data-correct='1'] input {
  background-color: #d0ffd0;
}
table[data-correct='1'] select {
  background-color: #d0ffd0;
}
textarea[data-correct='1'] {
  background-color: #d0ffd0;
}
input[data-correct='-1'] {
  background-color: #E7B416;
}
table[data-correct='-1'] input {
  background-color: #E7B416;
}
table[data-correct='-1'] select {
  background-color: #E7B416;
}
textarea[data-correct='-1'] {
  background-color: #E7B416;
}
#elapsed {
  width: 6ch;
  font-family: monospace;
  text-align: right;
}
#fullscreen {
  margin: 0 auto;
  display: block;
  background-color: #fdd;
  position: fixed;
  left: 30%;
  top: 2%;
  width: 40%;
  font-size: 2em;
}
code {
  font-size: 1.3em;
  background-color: rgb(238, 238, 238);
}
nav {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  text-align: center;
  border-radius: 0.5em;
  margin-right: 0.5em;
  border: 2px solid white;
  border-style: groove;
  background-color: #99badd;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
}

#logout {
  border: 2px solid grey;
  border-radius: 0.5em;
  padding: 0.3em;
  background-color: #99badd;
  color: white;
  text-decoration: none;
  border-style: outset;
}

#newpage {
  display: block;
  width: 100%;
  height: 80vh;
}

.agenda {
  border-top: 1px solid #99badd;
  padding-left: 20px;
}

.agenda h3 {
  margin-top: 5px;
  margin-left: -20px;
  margin-bottom: 0;
  font-size: 1.3em;
}

.agenda p {
  margin-top: 0.2em;
  margin-bottom: 0;
}

.agenda.past {
  background-color: #ecedff;
  color: #444;
}

.agenda.future {
  background-color: #fffffe;
}

.agenda.present {
  padding-top: 1em;
  margin-bottom: 1em;
}

.agenda #upnext {
  font-size: 1.5em;
  padding: 0;
  border: 2px solid black;
  display: inline-block;
  margin-left: -20px;
  border-radius: 10px;
  background-color: #99badd;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 5px;
}

.agenda em {
  color: red;
}

.agenda a {
  border-bottom: 1px solid #446599;
  text-decoration: none;
  font-weight: bold;
  color: #446599;
}

.arrow_box {
  position: relative;
  background: #99badd;
  border: 4px solid #c2e1f5;
  width: 5em;
  text-align: center;
  margin-bottom: 1.5em;
  margin-left: -20px;
  color: white;
  border-radius: 20px;
}

.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(153, 186, 221, 0);
  border-top-color: #99badd;
  border-width: 20px;
  margin-left: -20px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 26px;
  margin-left: -26px;
}

#team figure {
  display: inline-block;
  width: 110px;
  margin-inline-start: 0;
}

#team figure img {
  width: 100%;
  border: 1px solid black;
}

#team figure figcaption {
  text-align: center;
}

#notebook {
  width: 100%;
  height: 80vh;
}

