<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Kattis Problems Practice Tool</title>
  </head>

  <body >
    <div>
    <h1>ACM Programming Competition Practice</h1>
    <div>
      <h2>For Students</h2>
      <a id="problems">Problems</a>
      <h2>For Admins</h2>
      <a id="create">Create</a>
    </div>
    </div>
    <script>
      window.onload = function() {
        const url = window.location.href;
        document.getElementById("problems").href = url + 'problems'
        document.getElementById("create").href = url + 'create'
      }
    </script>
  </body>
</html>