<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Kattis Tool</title>
  </head>

  <body >
    <div>
    <h1>Kattis Tool</h1>
    <div>
      <h2>0-1 Sequences</h2>
      <a>You are given a sequence, in the form of a string with characters ‘0’, ‘1’, and ‘?’ only. Suppose there are 𝑘 ‘?’s. Then there are 2𝑘 ways to replace each ‘?’ by a ‘0’ or a ‘1’, giving 2𝑘 different 0-1 sequences (0-1 sequences are sequences with only zeroes and ones). 
        For each 0-1 sequence, define its number of inversions as the minimum number of adjacent swaps required to sort the sequence in non-decreasing order. In this problem, the sequence is sorted in non-decreasing order precisely when all the zeroes occur before all the ones. For example, the sequence 11010 has 5 inversions. We can sort it by the following moves: 11010 → 11001 → 10101 → 01101 → 01011 → 00111.
        Find the sum of the number of inversions of the 2𝑘 sequences, modulo 1000000007 (109+7).</a>
      <h4>Input</h4>
      <a>The first and only line of input contains the input string, consisting of characters ‘0’, ‘1’, and ‘?’ only, and the input string has between 1 to 500000 characters, inclusive.</a>
      <h4>Output</h4>
      <a>Output an integer indicating the aforementioned number of inversions modulo 1000000007.</a>
        <h5>Sample Input: ?0? | Sample Output: 3</h5>
    </div>
    <div><a> </a></div>
    <div>
      <h2>Submit Solution</h2>
      <form
        action="{{get_url('/submit')}}"
        ,
        method="post"
        enctype="multipart/form-data"
      >
       <input type="file" name="feedback" />
       <input type="submit" />
     </form>
    </div>
    </div>
  </body>
</html>