# WARNING:
#  Updating .env file will cause it to get copied over to /var/www/mypoll
#  But UWSGI will not recognize the change until a `sudo systemctl restart uwsgi`

# Set to the name of the directory where course specific files are located.
# For example, set COURSE_NAME=COMP550 so that course specific python files are
# searched in mypoll/src/COMP550 and that course specific assessments are
# searched in mypoll/src/content/COMP550.
export COURSE_NAME=COMP550

# Set to a string that can be eval'd into a Python list.  The list should be the
# onyens of the Postgress database administrators
export ADMINS = '["gb", "jmajikes", "jsterrel"]'

# Set to the email address that should receive any alerts
export ADMIN_EMAIL = 'jmajikes@cs.unc.edu'

# Set to a string that can be eval'd into a Python list.  The list should be the directory
# names of the different types of assessments offerred for the course.  For example
# ASSESSMENT_FOLDERS = '["exams", "homeworks", "quizzes", "worksheets"]'
export ASSESSMENT_FOLDERS = '["exams", "homeworks", "worksheets"]'

# Used by Reveal
export FQDN = 'comp550sp21.cs.unc.edu'
export HTTPS_FQDN = 'https://comp550sp21.cs.unc.edu'
export HOSTNAME = 'comp550sp21'
export PIAZZA = 'https://piazza.com/unc.spring2021/comp550'
export LOGO = 'https://comp550sp21.cs.unc.edu/static/images/COMP550Logo.png'
# This is the HTML way to set slide fragments, yuck!
# WARNING: Include no other Markdown after {{FRAG}} as a HTML comment
# has no closing tag and markdown will not process the remaining line
# DO NOT DO: * {{FRAG}} With this [link](http:xxx)
# DO: Use two lines
#  * {{FRAG}} With this
#    [link](http:xxx)
export FRAG = '<!-- .element: class="fragment" -->'
